app-tooltip-base{
  position: fixed;
  background-color: black;
  opacity: .8;
  padding: 10px;
  border-radius: 12px;
  z-index: 100;
  top: 0px;
  left: 0px;

  &.tt-hidden{
    opacity: 0;
    .tt-text{
      opacity: 0;
    }
  }

  .tt-text{
    opacity: 1;
    color:white;
  }
}