app-main-content{
  background:#F9F9F9;
  box-shadow: 0px 2px 7px 0px rgba(0,0,0,0.75);
  position: relative;
  overflow: hidden;

  .channel-header{
    padding: 20px 0px;
    background-color: #555;
    color:#eee;
    font-weight: 600;
    position: absolute;
    top:0px;
    left:0px;
    width:100%;
  }
  .channel-user-count{
    font-size: 16px;
    font-weight: 100;
    text-align: left;
  }

  app-message-input{
    position: absolute;
    bottom:0px;
    left:0px;
    width:100%;
    padding:10px 0px;
    border-top: 1px solid #aaa;
    background-color:#f1f1f1;

    .hit-enter{
      font-size: 12px;
      font-weight: 100;
    }
  }

  app-messages-container{
    position: absolute;
    overflow:auto;
    top: 60px;
    bottom: 100px;

    .dummy-section{
      display: inline-block;
      height:100px;
      width:100%;
    }


  }
}