app-message > div {
  padding-top: 15px;
  padding-bottom: 15px;
  border-top: 1px solid #efefef;
  transition: background-color 200ms ease; }
  app-message > div:hover {
    background-color: #e1e1e1; }
  app-message > div:nth-child(2) {
    border-top: none; }
  app-message > div.is-new {
    background-color: lightblue; }

app-left-menu {
  background-color: #eee; }
  app-left-menu .pure-menu-item {
    transition: all 200ms; }
    app-left-menu .pure-menu-item.pure-menu-selected {
      transform: scale(1.05); }
    app-left-menu .pure-menu-item.pure-menu-selected > a, app-left-menu .pure-menu-item:focus > a, app-left-menu .pure-menu-item > a:hover {
      background-color: #ccc; }
  app-left-menu .channel-name {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden; }

app-avatar {
  display: inline-block;
  height: 48px;
  width: 48px; }
  app-avatar img {
    border-radius: 50%;
    cursor: pointer; }

app-main-content {
  background: #F9F9F9;
  box-shadow: 0px 2px 7px 0px rgba(0, 0, 0, 0.75);
  position: relative;
  overflow: hidden; }
  app-main-content .channel-header {
    padding: 20px 0px;
    background-color: #555;
    color: #eee;
    font-weight: 600;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%; }
  app-main-content .channel-user-count {
    font-size: 16px;
    font-weight: 100;
    text-align: left; }
  app-main-content app-message-input {
    position: absolute;
    bottom: 0px;
    left: 0px;
    width: 100%;
    padding: 10px 0px;
    border-top: 1px solid #aaa;
    background-color: #f1f1f1; }
    app-main-content app-message-input .hit-enter {
      font-size: 12px;
      font-weight: 100; }
  app-main-content app-messages-container {
    position: absolute;
    overflow: auto;
    top: 60px;
    bottom: 100px; }
    app-main-content app-messages-container .dummy-section {
      display: inline-block;
      height: 100px;
      width: 100%; }

app-tooltip-base {
  position: fixed;
  background-color: black;
  opacity: .8;
  padding: 10px;
  border-radius: 12px;
  z-index: 100;
  top: 0px;
  left: 0px; }
  app-tooltip-base.tt-hidden {
    opacity: 0; }
    app-tooltip-base.tt-hidden .tt-text {
      opacity: 0; }
  app-tooltip-base .tt-text {
    opacity: 1;
    color: white; }

app-popover {
  position: fixed;
  z-index: 100;
  top: 0px;
  left: 0px;
  background: white;
  border: 3px solid #ddd;
  border-radius: 15px;
  padding: 25px;
  box-shadow: 0px 2px 7px 0px #AAA;
  transition: top 100ms ease; }
  app-popover:not(.active) {
    display: none; }

app-modal {
  display: inline-block;
  height: 0px;
  width: 0px; }
  app-modal app-modal-inner {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%; }
    app-modal app-modal-inner:not(.active) {
      display: none; }
    app-modal app-modal-inner app-modal-overlay {
      position: fixed;
      top: 0px;
      left: 0px;
      width: 100%;
      height: 100%;
      background-color: black;
      opacity: .4;
      z-index: 1000;
      cursor: pointer; }
    app-modal app-modal-inner app-modal-body {
      background-color: white;
      border: 3px solid #ddd;
      border-radius: 15px;
      padding: 25px;
      box-shadow: 0px 2px 7px 0px #AAA;
      z-index: 1010;
      min-width: 300px;
      min-height: 200px;
      position: fixed;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%); }
    app-modal app-modal-inner app-modal-close-x {
      cursor: pointer; }

/*# sourceMappingURL=app.css.map */
